*               text=auto

*.classpath     text
*.html          text
*.java          text diff=java
*.js            text
*.launch        text
*.prefs         text
*.project       text
*.sh            text eol=lf
*.txt           text
*.wxs           text
*.xml           text
*.yml           text

*.jar           binary
